<div class="nav-bar">
  <div class="title">Alex and Elizabeth's Wedding</div>
  <span>{{wedding-icon name="home"}}{{#link-to "home"}}Home{{/link-to}}</span>
  <span>{{wedding-icon name="directions"}}{{#link-to "directions"}}Directions{{/link-to}}</span>
  <span>{{wedding-icon name="hotel"}}{{#link-to "places-to-stay"}}Places to Stay{{/link-to}}</span>
  <span>{{wedding-icon name="local_activity"}}{{#link-to "event-info"}}Event Info{{/link-to}}</span>
  <br>
  <span>{{wedding-icon name="restaurant"}}{{#link-to "places-to-eat"}}Places to Eat{{/link-to}}</span>
  <span>{{wedding-icon name="photo_camera"}}{{#link-to "things-to-see"}}Things to See{{/link-to}}</span>
  <span>{{wedding-icon name="people"}}{{#link-to "bio"}}About Us{{/link-to}}</span>
  <span>{{wedding-icon name="shopping_cart"}}{{#link-to "registry"}}Registry{{/link-to}}</span>
</div>
<div class="content">
  {{outlet}}
</div>
<div class="bottom-bar">
  <img class="facebook-image" src="images/FB-f-Logo__blue_29.png" alt="facebook-logo">
  <span>
    Find us on Facebook:
  </span>
  <span>{{facebook-link name="Alexander Middeleer" facebookId="almiddeleer"}},</span>
  <span>{{facebook-link name="Elizabeth Packer" facebookId="elpacker88"}}</span>
  {{wedding-copyright}}
</div>
